<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>卓卓暑期积分</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mui.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/js/jquery-1.12.1.min.js}"></script>
	<script>
        var timer=null;
        function displayClock(num){//num是传入的startClock中的动态值
            if(num < 10){
                return "0"+num;
            }
            else{
                return num;
            }
        }
        //停止计时
        function stopClock(){
            clearTimeout(timer);
        }
        //开始计时
        function startClock(){
            var time =new Date();
            var year=displayClock(time.getFullYear())+"-";
            var month=displayClock(time.getMonth() + 1)+"-";
            var day=displayClock(time.getDate())+" ";
            var hours=displayClock(time.getHours())+":";
            var minutes=displayClock(time.getMinutes())+":";
            var seconds=displayClock(time.getSeconds());
            //显示时间
            showDateTime.innerHTML=year+month+day+hours+minutes+seconds;//在id为show的块区域显示
            timer=setTimeout("startClock()",1000);//延时器
        }
        function clearNoNum(obj){
            obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
            obj.value = obj.value.replace(/^\./g,"");  //验证第一个字符是数字而不是.
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的.
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            if(obj.value < 0 || obj.value > 20){
				alert("分数在0-20之间");
                obj.value = "10";
			}
        }
        function addIntegral(){
            $.ajax({
                cache: true,
                type: "POST",
                url: "/index/add",
                data: {"integral":$("[name='integral']").val()},// 序列化的form
                async: false,
                error: function(data) {
                    showMessageDailog("错误", data);
                },
                success: function(data) {
					if(data.code == 1){
						$(".gradeclass").hide();
						$("#showDateTime").after('<div id="grade" class="gradeclass" th:if="${today} ne null" style="left: 20%;"><h1 style="color: green">今日得分：'+ data.data +'</h1></div>');
					}else{
                        alert(data.message);
					}
                }
            });
		}
        function showMessageDailog(title, message) {
            $("<div title='" + title + "'><p style='color:red;font-weight:bold;'>" + message + "</p></div>").dialog({
                modal: true,
                zIndex: 99999
            });
        }
	</script>
</head>
<style>
	#showDateTime{
		font-size: 24px;
		color:#4213C9;
		text-align:center;
		margin-top: 10px;
	}
</style>
<body onload="startClock()" onunload="stopClock()">
	<!-- 主内容部分 -->
	<div class="content">
		<section class="xueqi">
			<div class="class">
				<label id="classResult" style="">当前总分：[[${total}]]分<span th:if="${today} eq null">今日未打分</span><span th:if="${today} ne null">今日得分:[[${today.integral}]]</span></label>
			</div>
		</section>
		<div id="showDateTime"></div>
		<div id="nograde" class="gradeclass" th:if="${today} eq null" style="left: 20%;">
			<h1 style="color: red">今日未打分</h1>
			<form>
				<input type="text" size="15" name="integral" maxlength="2" value="10" style="text-align: center" oninput="clearNoNum(this)" min="0" max="20"><br />
				<input type="submit" value="提交" onclick="addIntegral()" />
			</form>
		</div>
		<div id="grade" class="gradeclass" th:if="${today} ne null" style="left: 20%;">
			<h1 style="color: green">今日得分：[[${today.integral}]]</h1>
		</div>
		<section class="query">
			<table>
				<tr>
					<td style="background-color: #8f8f94">
						<a th:href="@{/index}">
							<img th:src="@{/img/keshi.png}">
							<p style="color: white">主页打分</p>
						</a>
					</td>
					<td>
						<a th:href="@{/timetable.html}">
							<img th:src="@{/img/timetable.png}">
							<p>计划查询</p>
						</a>
					</td>
					<td>
						<a th:href="@{/query_classroom.html}">
							<img th:src="@{/img/classroom.png}">
							<p>积分奖惩规则</p>
						</a>
					</td>
					<td>
						<a th:href="@{/query_score.html}">
							<img th:src="@{/img/chengji.png}">
							<p>得分报表</p>
						</a>
					</td>
				</tr>
				<tr>


				</tr>
				<!--<tr>
					<td>
						<a th:href="@{/query_dianfei.html}">
							<img th:src="@{/img/electricity.png}">
							<p>电费查询</p>
						</a>
					</td>
				</tr>-->
			</table>
		</section>
	</div>
	<script th:src="@{/js/mui.min.js}"></script>
</body>
</html>