<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>得分报表</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mui.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/js/jquery-1.12.1.min.js}"></script>
</head>
<body>
	<!-- 主内容部分 -->
	<div class="content">
		<section class="xueqi">
			<div class="class">
				<label id="classResult" style="">当前总分：[[${total}]]分<span th:if="${today} eq null">今日未打分</span><span th:if="${today} ne null">今日得分:[[${today.integral}]]</span></label>
			</div>
		</section>
		<table style="margin-top: 5%">
			<tr>
				<td>本周总分：</td>
				<td>[[${score.weekTotal}]]分</td>
			</tr>
			<tr>
				<td>本周平均分：</td>
				<td>[[${score.weekAverage}]]分</td>
			</tr>
			<tr>
				<td>距本周奖励还差：</td>
				<td>[[${score.weekAwardFar}]]分</td>
			</tr>
			<tr>
				<td>距本周结算日还有：</td>
				<td>[[${score.weekSettlementDateFar}]]天</td>
			</tr>
		</table>

		<table style="margin-top: 10%">
			<tr>
				<td>总分：</td>
				<td>[[${score.total}]]分</td>
			</tr>
			<tr>
				<td>总平均分：</td>
				<td>[[${score.totalAverage}]]分</td>
			</tr>
			<tr>
				<td>距一档奖励还差：</td>
				<td>[[${score.firstAwardFar}]]分</td>
			</tr>
			<tr>
				<td>距二档奖励还差：</td>
				<td>[[${score.secondAwardFar}]]分</td>
			</tr>
			<tr>
				<td>距三挡奖励还差：</td>
				<td>[[${score.thirdAwardFar}]]分</td>
			</tr>
			<tr>
				<td>距终极奖励还差：</td>
				<td>[[${score.ultimateAwardFar}]]分</td>
			</tr>
			<tr>
				<td>总分结算日：</td>
				<td>[[${score.settlementDate}]]</td>
			</tr>
			<tr>
				<td>距总分结算日还有：</td>
				<td>[[${score.settlementDateFar}]]天</td>
			</tr>
		</table>

		<section class="query">
			<table>
				<tr>
					<td>
						<a th:href="@{/}">
							<img th:src="@{/img/keshi.png}">
							<p>主页打分</p>
						</a>
					</td>
					<td>
						<a th:href="@{/index/timetable}">
							<img th:src="@{/img/timetable.png}">
							<p>计划查询</p>
						</a>
					</td>
					<td>
						<a th:href="@{/index/queryClassroom}">
							<img th:src="@{/img/classroom.png}">
							<p>积分奖惩规则</p>
						</a>
					</td>
					<td style="background-color: #8f8f94">
						<a th:href="@{/index/queryScore}">
							<img th:src="@{/img/chengji.png}">
							<p style="color: white">得分报表</p>
						</a>
					</td>
				</tr>
			</table>
		</section>
	</div>
</body>
</html>