<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>计划查询</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mui.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/js/jquery-1.12.1.min.js}"></script>
</head>
<body>
	<!-- 主内容部分 -->
	<div class="content">
		<section class="xueqi">
			<div class="class">
				<label id="classResult" style="">当前总分：[[${total}]]分<span th:if="${today} eq null">今日未打分</span><span th:if="${today} ne null">今日得分:[[${today.integral}]]</span></label>
			</div>
		</section>
		<div class="img-div">
			<img th:src="@{/img/schedule.jpg}" alt="手写计划表">
		</div>
		<section class="query">
			<table>
				<tr>
					<td>
						<a th:href="@{/}">
							<img th:src="@{/img/keshi.png}">
							<p>主页打分</p>
						</a>
					</td>
					<td style="background-color: #8f8f94">
						<a th:href="@{/index/timetable}">
							<img th:src="@{/img/timetable.png}">
							<p style="color: white">计划查询</p>
						</a>
					</td>
					<td>
						<a th:href="@{/index/queryClassroom}">
							<img th:src="@{/img/classroom.png}">
							<p>积分奖惩规则</p>
						</a>
					</td>
					<td>
						<a th:href="@{/index/queryScore}">
							<img th:src="@{/img/chengji.png}">
							<p>得分报表</p>
						</a>
					</td>
				</tr>
			</table>
		</section>
	</div>
</body>
</html>